@font-face {
  font-family: 'gyparodyregular';
  src: url('./fonts/gyparody.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'category-font';
  src: url('./fonts/HelveticaInseratLTStd-Roman.ttf');
}

@font-face {
  font-family: 'clue-card-font';
  src: url('./fonts/ITC-Korinna-Regular.ttf');
}

body {
  /* font-family: 'garamond'; */
  font-family: 'clue-card-font';
  font-style: normal;
  color: ghostwhite;
  background-color: wheat;
  justify-content: center;
}

.logo {
  font-family: 'gyparodyregular';
  color: floralwhite;
  font-size: 125px;
  font-weight: 100;
  position: absolute;
  top: -8%;
  left: 3%;
  text-shadow: 1px 1px 4px hotpink, 2px 2px 2px black, 0 0 25px mediumpurple, 0 0 12px plum;

}

h1 {
  font-family: "gyparodyregular";
}

.trivia-main {
  /* background-color: rgb(28, 28, 211); */
  background-color: navy; /* teal, navy look good too */
  margin: auto;
  padding: 50px;
  position: absolute;
  top: 23%;
  left: 25%;
  border: solid 10px silver;
  border-style: inset;
  height: 40vh;
  width: 40vw;
  text-align: center;
  justify-self: center;
}

.category {
  font-family: 'category-font';
  text-shadow: 3px 3px black;
  font-size: 33px;
}

.clue {
  font-size: 20px;
}

.countdown {
  position: absolute;
  right: 5%;
  top: 5%;
  color: rgb(28, 28, 211);
  font-size: 45px;
  font-weight: bolder;
}

.panic {
  position: absolute;
  right: 5%;
  top: 5%;
  color: crimson;
  font-size: 45px;
  font-weight: bolder;
}

.answer-form {
  position: absolute;
  bottom: 21.2%;
  left: 37%;
  height: 8%;
  width: 45%;
  justify-content: center;
}

.answer-bar {
  position: relative;
  padding-left: 3%;
  height: 100%;
  width: 100%;
  font-family: 'Chalkduster';
  font-size: smaller;
  background-color: ghostwhite;
}

.dropdown {
  position: absolute;
  bottom: 20%;
  left: 17%;
  height: 9%;
  width: 20%;
  text-align: center;
  background-color: ghostwhite;
}

.submit-guess {
  position: absolute;
  height: 100%;
  width: 40%;
  bottom: -122%;
  left: 15%;
  background-color: ghostwhite;
}

/* ---------------------------------------------------------
                       ENDING PAGE!!!
-----------------------------------------------------------*/

.modal-bg {
  width:100%;
  height:100%;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: fadein .7s;
}

.modal-blur {
  width: auto;
  max-height: 100vh;
  overflow: auto;
}

.ending-modal {
  background-color: lightyellow;
  color: black;
  border: solid black;
  border-style: ridge;
  height: 80vh;
  width: 60vw;
  margin: auto;
  text-align: center;

}

.rundown-list {
  border: solid slategray;
  border-style: double;
  position: relative;
  width: 80%;
  height: 60%;
  justify-content: center;
  margin: auto;
  overflow-y: scroll;
}

.correct-tile {
  background-color: rgb(108, 238, 68);
  border-top: dimgrey solid 0.5px;
  /* border-style: ridge; */
  padding: 5%;
  text-align: left;
  font-size: medium;
  height: 30%;
}

.incorrect-tile {
  background-color: crimson;
  opacity: 0.9;
  border-top: dimgrey solid 0.5px;
  /* border-style: ridge; */
  padding: 5%;
  text-align: left;
  font-size: medium;
  height: 30%;
}

.grand-total {
  background-color: darkslateblue;
  font-weight: bolder;
  font-size: x-large;
  color: gold;
  text-shadow: 1.5px 1.5px goldenrod;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

